.questionArea {
    padding: 20px 40px;
    box-sizing: border-box;
}

.questionArea.optionSelected .option:hover:not(.selected) {
    background-color: white;
    cursor: auto;
}

.questionText {
    font-size: 3rem;
    color: purple;
    margin: 40px 0;
    user-select: none;
}

.option {
    font-size: 2rem;
    margin: 20px 0;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.option:hover:not(.selected) {
    background-color: rgb(227, 255, 227);
}

.option.selected {
    background-color: green;
    color: white;
    font-weight: bold;
}

.timer {
    height: 20px;
    background-color: purple;
    transition: all 1s linear;
}

@media screen and (max-width: 991px) {
    .questionArea {
        padding: 20px 20px;
    }
    
    .questionText {
        font-size: 2rem;
    }
    
    .option {
        font-size: 1.2rem;
    }

    .timer {
        height: 20px;
        background-color: purple;
        transition: all 1s linear;
    }
}